extends ./layout/index


block slider
    .slider.text-center
        em La diversión la encuentras con nosotros

block contenido-inicio
  section.secciones-home-page
       

    section.seccion-inflables.py-5
      .container-inflables
        h2.titulo-secciones Servicios
        p.description Tenemos las siguientes entretenciones para tu evento

    section.seccion-nosotros.py-5
      .container-nosotros
        h2.titulo-secciones Sobre Nosotros
        p.description Somos una pyme familiar  que se ha ido fortaleciendo a lo largo de los años gracias al compromiso y responsabilidad que le entregamos a nuestros clientes.

