:root {
    font-family: 'Staatliches', cursive;
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Staatliches', cursive;
    color: #15B9D5;
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 3rem;
}

/* ------------------------------------------------------------------------- */
/* Estilos Header */

.navbar.navbar-expand-lg.navbar.navbar-light{
    background-color: #3a3caa;
    
}

.navbar{
    font-family: 'Staatliches';
}
    .navbar:hover{
        text-decoration: none;
    }

/* Icono */
.icon{
    width: 50px;
}

/* Nombre Pyme  */

.name_a, .name_k{
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
    .name_a{
        color: #fff;
    
    }
    .name_k{
        color: black;
    }

/* Nav-Links  */
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-inline-end: 10px;
    font-family: 'Open Sans';
}

/* ------------------------------------------------------------------------- */
.navbar-nav {
    display: flex;
    list-style: none;
}


