header
  nav.navbar.navbar-expand-lg.navbar-light
    .container
      a.navbar(href="/")
        img.icon(src="../img/df.png", alt="Logo")  
        span.name_a  AVENTURA
        span.name_k KID
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/") Inicio
        li.nav-item
          a.nav-link(href="/Nosotros") Nosotros
        li.nav-item
          a.nav-link(href="/Servicios") Servicios
        li.nav-item
          a.nav-link(href="/Contacto") Contacto




    //- .container
    //-   a.navbar-brand(href="/")
    //-     img.logo-icon(src="../img/df.png", alt="Logo") 
    //-     span.logo_a  AVENTURA
    //-     span.logo_b KID
    //-   ul.navbar-nav
    //-       li.nav-item
    //-         a.nav-link(href="/") Inicio
    //-       li.nav-item
    //-         a.nav-link(href="/Nosotros") Nosotros
    //-       li.nav-item
    //-         a.nav-link(href="/Servicios") Servicios
    //-       li.nav-item
    //-         a.nav-link(href="/Contacto") Contacto



